<!--
  This is a reusable HTML grid for your preset previews.
  - Each image is wrapped in an <a> tag to make it a clickable link.
  - Uses lightbox2 for popup viewing (GitHub Pages compatible)
-->
<div class="preview-grid">
  <div class="row">
    <a href="{{ '/screenshots/MistburnedBarrens.png' | relative_url }}" data-lightbox="preset-previews"><img src="{{ '/screenshots/MistburnedBarrens.png' | relative_url }}" alt="Mistburned Barrens"></a>
    <a href="{{ '/screenshots/TheGrove4.png' | relative_url }}" data-lightbox="preset-previews"><img src="{{ '/screenshots/TheGrove4.png' | relative_url }}" alt="The Grove 4"></a>
    <a href="{{ '/screenshots/AuricBasin2.png' | relative_url }}" data-lightbox="preset-previews"><img src="{{ '/screenshots/AuricBasin2.png' | relative_url }}" alt="Auric Basin 2"></a>
  </div>
  <div class="row">
    <a href="{{ '/screenshots/HoelbrakSunset.png' | relative_url }}" data-lightbox="preset-previews"><img src="{{ '/screenshots/HoelbrakSunset.png' | relative_url }}" alt="Hoelbrak Sunset"></a>
    <a href="{{ '/screenshots/FrostgorgeSound1.png' | relative_url }}" data-lightbox="preset-previews"><img src="{{ '/screenshots/FrostgorgeSound1.png' | relative_url }}" alt="Frostgorge Sound 1"></a>
    <a href="{{ '/screenshots/DesertHighlands.png' | relative_url }}" data-lightbox="preset-previews"><img src="{{ '/screenshots/DesertHighlands.png' | relative_url }}" alt="Desert Highlands"></a>
  </div>
  <div class="row">
    <a href="{{ '/screenshots/DanalaClaypool.png' | relative_url }}" data-lightbox="preset-previews"><img src="{{ '/screenshots/DanalaClaypool.png' | relative_url }}" alt="Danala Claypool"></a>
    <a href="{{ '/screenshots/DivinitysReach2.png' | relative_url }}" data-lightbox="preset-previews"><img src="{{ '/screenshots/DivinitysReach2.png' | relative_url }}" alt="Divinity's Reach 2"></a>
    <a href="{{ '/screenshots/EchovaldWilds6.png' | relative_url }}" data-lightbox="preset-previews"><img src="{{ '/screenshots/EchovaldWilds6.png' | relative_url }}" alt="Echovald Wilds 6"></a>
  </div>
  <div class="row">
    <a href="{{ '/screenshots/EloraTheGrove1.png' | relative_url }}" data-lightbox="preset-previews"><img src="{{ '/screenshots/EloraTheGrove1.png' | relative_url }}" alt="Elora The Grove 1"></a>
    <a href="{{ '/screenshots/EchovaldWilds5.png' | relative_url }}" data-lightbox="preset-previews"><img src="{{ '/screenshots/EchovaldWilds5.png' | relative_url }}" alt="Echovald Wilds 5"></a>
    <a href="{{ '/screenshots/EchovaldWilds3.png' | relative_url }}" data-lightbox="preset-previews"><img src="{{ '/screenshots/EchovaldWilds3.png' | relative_url }}" alt="Echovald Wilds 3"></a>
  </div>
  <div class="row">
    <a href="{{ '/screenshots/BitterfrostFrontier.png' | relative_url }}" data-lightbox="preset-previews"><img src="{{ '/screenshots/BitterfrostFrontier.png' | relative_url }}" alt="Bitterfrost Frontier"></a>
    <a href="{{ '/screenshots/HellionForest.png' | relative_url }}" data-lightbox="preset-previews"><img src="{{ '/screenshots/HellionForest.png' | relative_url }}" alt="Hellion Forest"></a>
    <a href="{{ '/screenshots/PlainsOfAshford.png' | relative_url }}" data-lightbox="preset-previews"><img src="{{ '/screenshots/PlainsOfAshford.png' | relative_url }}" alt="Plains of Ashford"></a>
  </div>
  <div class="row">
    <a href="{{ '/screenshots/Dragonfall.png' | relative_url }}" data-lightbox="preset-previews"><img src="{{ '/screenshots/Dragonfall.png' | relative_url }}" alt="Dragonfall"></a>
    <a href="{{ '/screenshots/MistburnedBarrens1.png' | relative_url }}" data-lightbox="preset-previews"><img src="{{ '/screenshots/MistburnedBarrens1.png' | relative_url }}" alt="Mistburned Barrens 1"></a>
    <a href="{{ '/screenshots/CrystalDesert.png' | relative_url }}" data-lightbox="preset-previews"><img src="{{ '/screenshots/CrystalDesert.png' | relative_url }}" alt="Crystal Desert"></a>
  </div>
  <div class="row">
    <a href="{{ '/screenshots/SkywatchArchipelago.png' | relative_url }}" data-lightbox="preset-previews"><img src="{{ '/screenshots/SkywatchArchipelago.png' | relative_url }}" alt="Skywatch Archipelago"></a>
    <a href="{{ '/screenshots/Homestead2.png' | relative_url }}" data-lightbox="preset-previews"><img src="{{ '/screenshots/Homestead2.png' | relative_url }}" alt="Homestead 2"></a>
    <a href="{{ '/screenshots/EchovaldWilds2.png' | relative_url }}" data-lightbox="preset-previews"><img src="{{ '/screenshots/EchovaldWilds2.png' | relative_url }}" alt="Echovald Wilds 2"></a>
  </div>
</div>